.users-background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  background-color: #c0c0c0;
  height: 100%;
  width: 100%;
}
