<<<<<<< HEAD
.users-background {
=======
.users-container {
>>>>>>> b4e4f22 (Sync routes across Micro Frontends)
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
<<<<<<< HEAD
  background-color: #c0c0c0;
=======
>>>>>>> b4e4f22 (Sync routes across Micro Frontends)
  height: 100%;
  width: 100%;
}
