.sidebar-module-button-enabled {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 12px;
  gap: 10px;
  font: 17px/21px Inter;
  color: #acacac;
  border-top: 1px solid #464242;
  height: 64px;
  width: 251px;
  text-decoration: none;
  box-sizing: border-box;
}

.sidebar-module-button-pressed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: static;
  padding: 0 12px;
  box-shadow: inset -2px -2px 12px rgb(0, 0, 0);
  gap: 10px;
  font: 17px/21px Inter;
  background-color: #464242;
  color: #acacac;
  border-top: 1px solid #acacac;
  border-radius: 10px;
  height: 64px;
  width: 251px;
  min-width: 251px;
  max-width: 251px;
  text-decoration: none;
  box-sizing: border-box;
}

.sidebar-module-button-enabled:hover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: static;
  padding: 0 12px;
  box-shadow: inset 0 -2px 12px black;
  gap: 10px;
  font: 17px/21px Inter;
  background-color: #6c6a6a;
  color: #acacac;
  border-radius: 10px;
  height: 64px;
  width: 251px;
  text-decoration: none;
  box-sizing: border-box;
}
