.customers-and-suppliers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.customers-and-suppliers-page-not-found-image {
  height: 70vh;
  width: 40vw;
}
