@use "../../styles/colors/_colors.modules.scss" as *;

.sidebar-button {
  display: block;
  border-radius: 10px;
  height: 48px;
  width: 245px;
  &:hover {
    background-color: $primary-blue-30;
  }
}
