.statistics-background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c0c0c0;
  padding: 24px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
