.statistics-background {
  display: flex;
  justify-content: space-around;
  align-items: center;
<<<<<<< HEAD
  background-color: #c0c0c0;
=======
>>>>>>> b4e4f22 (Sync routes across Micro Frontends)
  padding: 24px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
