.root-layout {
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
  &-container {
    @extend .root-layout;
    flex-direction: row;
  }
  &-main {
    @extend .root-layout;
    flex-direction: column;
  }
}
