<<<<<<< HEAD
.orders-background {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c0c0c0;
  padding: 24px;
=======
.orders-micro-frontend-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px;
>>>>>>> b4e4f22 (Sync routes across Micro Frontends)
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
