<<<<<<< HEAD
.supplies-background {
=======
.supplies-container {
>>>>>>> b4e4f22 (Sync routes across Micro Frontends)
  display: flex;
  font: 24px Inter;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  background-color: #c0c0c0;
=======
>>>>>>> b4e4f22 (Sync routes across Micro Frontends)
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
<<<<<<< HEAD
}
=======
}
>>>>>>> b4e4f22 (Sync routes across Micro Frontends)
